
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
  }
  .quiz-container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
  }
  .quiz-container img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
  }
  .quiz-container h2 {
    margin-bottom: 20px;
  }
  .quiz-form {
    text-align: left;
  }
  .quiz-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .quiz-form input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  .back-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  .back-button:hover {
    background-color: #d66cc4;
  }